/* Change Nav Icons */
.NavIcons{
    color: white !important;
    font-size: 1.25em;
}
@media (min-width: 765px){
    .NavIcons{
        font-size: 2em;
    }
}


/* Change  */

/* Change Outer Nav */
.NavOuterContainer{
    border-color: #111 !important;
}

/* Default Styles - Suggested Not To Change */
.NavInnerContianer{
    margin: 0 !important;
    padding: 0 !important;
}